﻿@using UZ.Web.Views.Manage
@using UZ.DAL.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav flex-column">
    <li class="nav-item"><a asp-action="Index" class="nav-link @ManageNavPages.IndexNavClass(ViewContext)">Профиль</a></li>
    <li class="nav-item"><a asp-action="ChangePassword" class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)">Пароль</a></li>
    @if (hasExternalLogins)
    {
        <li class="nav-item"><a asp-action="ExternalLogins" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)">External logins</a></li>
    }
    @*<li class="nav-item"><a asp-action="TwoFactorAuthentication" class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">Two-factor authentication</a></li>*@
</ul>

