﻿
@{
    ViewData["Title"] = "Stations";
}

<link rel="stylesheet" href="~/lib/jquery-ui/css/jquery-ui.css" />
@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="~/js/stations.js"></script>
}

<h2>Stations</h2>

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="stations-form" method="post">
                <h4>Выберите станцию.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>First Station</label>
                    <input id="StationFirst" name="StationFirst" class="form-control" />
                    <input id="StationFirstID" name="StationFirstID" type="hidden" />
                </div>
                <div class="form-group">
                    <label>First Station</label>
                    <input id="StationSecond" name="StationFirst" class="form-control" />
                    <input id="StationSecondID" name="StationFirstID" type="hidden" />
                </div>
            </form>
        </section>
    </div>
</div>


