﻿@using UZ.Web.Areas.Models
@model AdminMenuActiveType

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a asp-action="Index" asp-controller="TrainSearch" asp-area="Admin" class="nav-link @(Model == AdminMenuActiveType.Searches ? "active" : "")">Заявки на поиск</a>
    </li>
    <li class="nav-item">
        <a asp-action="Index" asp-controller="Ticket" asp-area="Admin" class="nav-link @(Model == AdminMenuActiveType.Tickets ? "active" : "")">Билеты</a>
    </li>
    <li class="nav-item">
        <a asp-action="Index" asp-controller="BlackList" asp-area="Admin" class="nav-link @(Model == AdminMenuActiveType.BlackList ? "active" : "")">Черный список</a>
    </li>
</ul>
