﻿.action-block {
    margin: auto;
    text-align: center;

    a {
        color: #000000;

        &:hover {
            text-decoration: none;
            color: #0275D8;
        }
    }

    & > a {
        margin-right: 17px;
    }
}

.tooltip-copy {
    position: relative;
    display: inline-block;
    opacity: 1;


    .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px 6px;
        position: absolute;
        z-index: 1;
        bottom: 120%;
        left: 50%;
        margin-left: -75px;
        transition: opacity 0.3s;
        opacity: 0;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
    }

    &:hover {
        .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }
}

.copy-text {
    margin-top: -4px;
    color: rgba(0, 0, 0, 0.5);

    &:hover {
        color: rgba(0, 0, 0, 0.7);
        text-decoration: none;
    }
}

.ticket-detail {
    margin-top: 20px;

    hr {
        margin: 40px 0;
        border-top: 1px solid #f1f2f3;
    }

    .session-text {
        display: inline-block;
        color: #3498db;
        font-weight: 700;
    }

    .train_scheme {
        width: 100%;
        overflow: auto;


        .car_scheme {
            position: relative;
            width: 942px;
            height: 152px;
            display: block;
        }

        .car_number {
            float: left;
            height: 142px;
            overflow: hidden;
        }

        .car_number {
            width: 48px;
            font-size: 16px;
            line-height: 142px;
            font-weight: bold;
            color: #FFF;
            text-align: center;
            background: url(/images/car-sprite.png) no-repeat -268px 0;
            padding-left: 6px;
        }


        .stuard_block {
            float: left;
            height: 142px;
            overflow: hidden;
            width: 65px;
            background: url(/images/car-sprite.png) no-repeat -372px 0;
        }

        .compartment {
            float: left;
            width: 71px;
            height: 150px;
            padding: 19px 2px;
            margin: 0 0 0 -1px;
            background: url(/images/compartment_bg.png) no-repeat 0 0;
        }


        .one_sit {
            display: block;
            float: left;
            width: 25px;
            font-size: 10px;
            color: #FFF;
            text-align: center;
            background: #529be5;
        }

        .occupied {
            background: #e9eaed;
            color: #bcbcbc;
        }

        .tl, .bl, .tr, .br, .ml, .mr {
            position: absolute;
        }

        .bl {
            bottom: 1px;
            left: 0;
            -webkit-border-radius: 0 0 3px 0;
            -moz-border-radius: 0 0 3px 0;
            border-radius: 0 0 3px 0;
        }



        .tl {
            top: 0;
            left: 0;
            -webkit-border-radius: 0 3px 0 0;
            -moz-border-radius: 0 3px 0 0;
            border-radius: 0 3px 0 0;
            border-bottom: 1px solid #e9eaed;
        }

        .br {
            bottom: 1px;
            right: 0;
            -webkit-border-radius: 0 0 0 3px;
            -moz-border-radius: 0 0 0 3px;
            border-radius: 0 0 0 3px;
        }

        .tr {
            top: 0;
            right: 0;
            -webkit-border-radius: 3px 0 0 0;
            -moz-border-radius: 3px 0 0 0;
            border-radius: 3px 0 0 0;
            border-bottom: 1px solid #e9eaed;
        }

        .double_row {
            position: relative;
            height: 62px;
            margin-bottom: 28px;

            .one_sit {
                height: 30px;
                line-height: 32px;
            }
        }

        .sits_block {
            float: left;
            height: 152px;
            cursor: default;
            a {
                text-decoration: none;
            }
        }

        .simple_row {
            position: relative;
            height: 30px;
            overflow: hidden;

            .top {
                background-position: 0 -66px;
                -webkit-border-top-right-radius: 3px;
                -moz-border-top-right-radius: 3px;
                border-top-right-radius: 3px;
                -webkit-border-bottom-right-radius: 3px;
                -moz-border-bottom-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            .bottom {
                background-position: 100% -17px;
                -webkit-border-bottom-left-radius: 3px;
                -moz-border-bottom-left-radius: 3px;
                border-bottom-left-radius: 3px;
                -webkit-border-top-left-radius: 3px;
                -moz-border-top-left-radius: 3px;
                border-top-left-radius: 3px;
            }

            .one_sit {
                height: 22px;
                line-height: 22px;

                &.top {
                    float: left;
                }

                &.bottom {
                    float: right;
                }
            }
        }

        .wc_block {
            float: left;
            height: 142px;
            overflow: hidden;
            width: 51px;
            background: url(/images/car-sprite.png) no-repeat -321px 0;

            &.back {
                width: 47px;
                margin: 0 0 0 -1px;
                background: url(/images/car-sprite.png) no-repeat -437px 0;
            }
        }

        .tail {
            float: left;
            height: 142px;
            overflow: hidden;
            width: 52px;
            background: url(/images/car-sprite.png) no-repeat -484px 0;
        }

        .second-class {
            .car_number {
                height: 152px;
                background-position: 0 0;
                line-height: 152px;
            }


            .stuard_block {
                height: 152px;
                background-position: -104px 0;
            }

            .wc_block {
                height: 152px;
                background-position: -53px 0;
            }

            .wc_block {
                &.back {
                    height: 152px;
                    background-position: -169px 0;
                }
            }

            .tail {
                height: 152px;
                background-position: -216px 0;
            }
        }

        .simple_row .bottom {
            background-position: 100% -17px;
            -webkit-border-bottom-left-radius: 3px;
            -moz-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
            -webkit-border-top-left-radius: 3px;
            -moz-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
        }

        .simple_row .top {
            background-position: 0 -66px;
            -webkit-border-top-right-radius: 3px;
            -moz-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
            -webkit-border-bottom-right-radius: 3px;
            -moz-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .sleeping {
            width: 940px;


            .compartment {
                height: 130px;
                background-position: 0 -152px;
            }

            .double_row {
                height: 66px;

                &.one_sit {
                    height: 33px;
                    line-height: 33px;
                }
            }
        }

        .lux {
            .double_row {
                height: 66px;

                .one_sit {
                    height: 66px;
                    background-image: none;
                    line-height: 66px;

                    &.left {
                        float: left;
                        -webkit-border-radius: 0 4px 4px 0;
                        -moz-border-radius: 0 4px 4px 0;
                        border-radius: 0 4px 4px 0;
                    }

                    &.right {
                        float: right;
                        -webkit-border-radius: 4px 0 0 4px;
                        -moz-border-radius: 4px 0 0 4px;
                        border-radius: 4px 0 0 4px;
                    }
                                        
                }
            }

            .compartment {
                height: 150px;
                width: 64px;
                background: url(/images/compartment_bg2.png) no-repeat 0 0;
            }
        }

        .clear {
            height: 0;
            clear: both;
            display: block;
            line-height: 0;
        }
    }
}

@media(max-width:767px) {
    .ticket-detail {
        hr {
            margin: 20px 0;
        }
    }
}
