﻿
@model UZ.BLL.Models.BlockedTrainDTO
<form id="SaveBlockedTrain" method="post">
    <div class="hidden-block">
        <input asp-for="Id" type="hidden"/>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="TrainId"></label>
                <input asp-for="TrainId" class="form-control" />
                <span asp-validation-for="TrainId" class="text-danger"></span>
            </div>
            <div class="buttons-block">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    </div>
</form>