﻿@using UZ.BLL.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Добавить поезд в черный список";
}

@model BlockedTrainDTO
<link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />

<h1>@ViewData["Title"]</h1>
@await Html.PartialAsync("_BlackListItemForm",Model)

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}