﻿@using UZ.BLL.Models
@using UZ.Web.Areas.Models
@using UZ.DAL.Models
@model IEnumerable<BlockedTrain>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Заблокированные поезда";
}

@section Styles{
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/MvcGrid/css/mvc-grid.css">
    <link rel="stylesheet" href="~/css/grid.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/jquery-ui/css/jquery-ui.css">
}
@Html.Partial("~/Areas/Admin/Views/Shared/_AdminMenuHeader.cshtml", AdminMenuActiveType.BlackList)

<h1>@ViewData["Title"]</h1>
<br />
@if (TempData["SuccessAdd"] != null)
{
    <div id="Notifications" class="show">
        @await Html.PartialAsync("_Notification", new NotificationViewModel(true,"Отлично!","Новый элемент был добавлен!"))
    </div>
    <br />
}
else
{
    <div id="Notifications"></div>

}
<a asp-action="Create" asp-controller="BlackList" class="btn btn-secondary">Добавить</a>
<br />
@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Id");
        columns.Add(model => model.TrainId).Titled("Поезд");
        columns.Add(model => model.BlockedDate).Titled("Дата блокировки").Formatted("{0: yyyy-MM-dd hh-mm-ss}");
        columns.Add(model => Html.Raw($"<div class='action-block'><div class='loader'><a href='#' class='btn btn-danger remove-item' id='blocked-remove={model.Id}' data-item='blocked' data-id='{ model.Id}'>Удалить</a></div></div>")).Titled("Действия").Encoded(false);
    })
    .Empty("Результатов не найдено")
    .Filterable()
    .Sortable()
    .Pageable()
    .Css("css-classes") // Overwrites all classes with the new ones
    .AppendCss("table-hover")
)

@section Scripts{
    <script src="~/lib/MvcGrid/js/mvc-grid.js"></script>
    <script src="~/lib/MvcGrid/js/localization.js"></script>
    <script src="~/lib/jquery-ui/js/jquery-ui.js"></script>
    <script src="~/js/custom-grid-filters.js" asp-append-version="true"></script>
    <script src="~/js/remove.js" asp-append-version="true"></script>
}