﻿@using UZ.BLL.Models
@using UZ.Web.Areas.Models
@model TicketDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = $"Подробнее о билете №{Model.Id}";

    int coupeCount = 9;
    int coupePlaces = 4;
    int sidePlaces = 2;
    int carPlaces = 36;
    if (Model.WagonType == "П")
    {
        carPlaces = 54;
    }
    if (Model.WagonType == "Л")
    {
        coupePlaces = 2;
        coupeCount = 10;
    }
}
@section Styles{
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true">
}


<h2>@ViewData["Title"]</h2>

<div id="Notifications"></div>

<div class="container ticket-detail">
    <div class="row">
        <div class="col-md-3">
            <label asp-for="FirstName"></label>
            <div class="font-weight-bold">@Model.FirstName</div>
            <hr class="d-md-none  d-sm-block" />
        </div>
        <div class="col-md-3">
            <label asp-for="LastName"></label>
            <div class="font-weight-bold">@Model.LastName</div>
            <hr class="d-md-none  d-sm-block" />
        </div>
        <div class="col-md-3">
            <label asp-for="SessionId"></label>
            <div>
                <div class="session-text" id="sessionId">@Model.SessionId</div>
                <div class="tooltip-copy">
                    <a href="#" class="fa fa-copy copy-text">
                        <span class="tooltiptext">Копировать</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <label asp-for="Email"></label>
            <div class="font-weight-bold">@Model.Email</div>
            <hr class="d-md-none  d-sm-block" />
        </div>
        <div class="col-md-3">
            <label asp-for="Phone"></label>
            <div class="font-weight-bold">@Model.Phone</div>
            <hr class="d-md-none  d-sm-block" />
        </div>
        <div class="col-md-3">
            <label>Статус</label>
            <div class="ticket-status font-weight-bold" data-ticket-id="@Model.Id">
                <label asp-for="Active">
                    <input asp-for="Active" />
                    @Html.DisplayNameFor(m => m.Active)
                </label>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <label asp-for="Train"></label>
            <div class="font-weight-bold">@Model.Train</div>
            <hr class="d-md-none  d-sm-block" />
        </div>
        <div class="col-md-3">
            <label asp-for="StationFrom"></label>
            <div class="font-weight-bold">@(!string.IsNullOrEmpty(Model.StationFrom) ? Model.StationFrom : "-")</div>
            <hr class="d-md-none  d-sm-block" />
        </div>
        <div class="col-md-3">
            <label asp-for="StationTo"></label>
            <div class="font-weight-bold">@(!string.IsNullOrEmpty(Model.StationTo) ? Model.StationTo : "-")</div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <label asp-for="Date"></label>
            <div class="font-weight-bold">@Model.Date.ToString("dd.MM.yyyy HH:mm")</div>
            <hr class="d-md-none  d-sm-block" />
        </div>
        <div class="col-md-3">
            <label asp-for="ArrivalDate"></label>
            <div class="font-weight-bold">@Model.ArrivalDate.ToString("dd.MM.yyyy HH:mm")</div>
            <hr class="d-md-none  d-sm-block" />
        </div>
        <div class="col-md-3">
            <label asp-for="TravelTime"></label>
            <div class="font-weight-bold">@(!string.IsNullOrEmpty(Model.TravelTime) ? Model.TravelTime : "-")</div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <label asp-for="WagonNumber"></label>
            <div class="font-weight-bold">@Model.WagonNumber</div>
            <hr class="d-md-none  d-sm-block" />
        </div>
        <div class="col-md-3">
            <label asp-for="WagonClass"></label>
            <div class="font-weight-bold">@Model.WagonClass</div>
            <hr class="d-md-none  d-sm-block" />
        </div>
        <div class="col-md-3">
            <label asp-for="WagonType"></label>
            <div class="font-weight-bold">@Model.WagonType</div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <label asp-for="PlaceNumber"></label>
            <div class="font-weight-bold">@Model.PlaceNumber</div>
            <hr class="d-md-none  d-sm-block">
        </div>
        <div class="col-md-3">
            <label>Тип билета</label>
            <div class="font-weight-bold">@(!string.IsNullOrEmpty(Model.Child) ? ("Детский") : (!string.IsNullOrEmpty(Model.Student) ? ("Студенческий") : ("Взрослый")))</div>
            <hr class="d-md-none  d-sm-block">
        </div>
        <div class="col-md-3">
            <label>Наличие белья</label>
            <div class="font-weight-bold">@(Model.Bedding == 1 ? "С бельем" : "Без белья")</div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="train_scheme">
            <div class="car_scheme @(Model.WagonType == "К"?("sleeping"):(Model.WagonType=="П"?("second-class"):(Model.WagonType=="Л"?("lux"):"")))">
                <div class="car_number">@Model.WagonNumber</div>
                <div class="wc_block front"></div>
                <div class="stuard_block"></div>
                <div class="sits_block">
                    @for (int i = 0; i < coupeCount; i++)
                    {
                        <div class="compartment" id="coupe_1">
                            <div class="double_row">
                                <span class="one-seat one_sit @(i*coupePlaces+1!=Model.PlaceNumber? "occupied":"")  @(Model.WagonType == "Л"?("left"):("bottom bl"))">@(i * coupePlaces + 1)</span>
                                <span class="one-seat one_sit @(i*coupePlaces+2!=Model.PlaceNumber? "occupied":"")  @(Model.WagonType == "Л"?("right"):("top tl"))">@(i * coupePlaces + 2)</span>
                                
                                @if (Model.WagonType == "П" || Model.WagonType == "К")
                                {
                                <span class="one-seat one_sit @(i * coupePlaces + 3 != Model.PlaceNumber ? "occupied" : "")  bottom br">@(i * coupePlaces + 3)</span>
                                <span class="one-seat one_sit @(i * coupePlaces + 4 != Model.PlaceNumber ? "occupied" : "")  top tr">@(i * coupePlaces + 4)</span>
                                }
                            </div>
                            @if (Model.WagonType == "П")
                            {
                                <div class="simple_row">
                                    <span class="one-seat one_sit @(carPlaces - (i * sidePlaces)  !=Model.PlaceNumber? "occupied":"") side top">@(carPlaces - (i * sidePlaces))</span>
                                    <span class="one-seat one_sit @(carPlaces - (i * sidePlaces) - 1 !=Model.PlaceNumber? "occupied":"") side bottom">@(carPlaces - (i * sidePlaces) - 1)</span>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="wc_block back"></div>
                <div class="tail"></div>
                <div class="clear"></div>
            </div>
        </div>

    </div>

</div>
@section Scripts {
    <script src="~/js/ticket-details.js" asp-append-version="true"></script>
}