﻿@using UZ.BLL.Models
@using UZ.Web.Areas.Models
@using UZ.DAL.Models
@model IEnumerable<ReservedTicket>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Билеты";
}
@section Styles{
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/MvcGrid/css/mvc-grid.css">
    <link rel="stylesheet" href="~/css/grid.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/jquery-ui/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true">
}
@Html.Partial("~/Areas/Admin/Views/Shared/_AdminMenuHeader.cshtml", AdminMenuActiveType.Tickets)
<h1>@ViewData["Title"]</h1>
<br />
<div id="Notifications"></div>
<br />
    @(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Email).Titled("Email");
        columns.Add(model => model.FirstName).Titled("Имя");
        columns.Add(model => model.LastName).Titled("Фамилия");

        columns.Add(model => model.StationFrom).Titled("Откуда");
        columns.Add(model => model.StationTo).Titled("Куда");
        columns.Add(model => model.Train).Titled("Поезд").Sortable(false);
        columns.Add(model => model.Active ? "Активен" : "Неактивен").Titled("Статус").FilteredAs("boolFilter").WithFilterOptions(new[]
        {
            new SelectListItem(),
            new SelectListItem { Value = "Активен", Text = "Активен" },
            new SelectListItem { Value = "Неактивен", Text = "Неактивен" }
        }).Filterable(true);
        //columns.Add(model => model.Date).Titled("Дата").Formatted("{0: yyyy-MM-dd}");
        columns.Add(model => model.Date).Titled("Дата").Formatted("{0: yyyy-MM-dd }");
        columns.Add(model => Html.Raw($"<div class='action-block'><a class='fa fa-pencil' href='{Url.Action("Detail", new { id = model.Id })}' target='_blank'></a> <div class='loader'><a href='#' class='fa fa-remove remove-item' id='remove-{model.Id}' data-item='ticket' data-id='{ model.Id}'></a></div></div>")).Titled("Действия").Encoded(false);
                    
    })
    .Empty("Результатов не найдено")
    .Filterable()
    .Sortable()
    .Pageable()
    .Css("css-classes") // Overwrites all classes with the new ones
    .AppendCss("table-hover")
)
@section Scripts{
    <script src="~/lib/MvcGrid/js/mvc-grid.js"></script>
    <script src="~/lib/MvcGrid/js/localization.js"></script>
    <script src="~/lib/jquery-ui/js/jquery-ui.js"></script>
    <script src="~/js/remove.js" asp-append-version="true"></script>
    <script src="~/js/custom-grid-filters.js" asp-append-version="true"></script>
}
