﻿.advanced-search-container {
    /*display: flex;*/

    .advanced-search-header {
        margin-bottom:30px;
        #open-advanced-search {
            /*color: violet;*/
        }
    }

    .advanced-search-block {
        display:none;
        /*transition: all 2s linear;*/
    }
}
.train-content {
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    padding: 30px 15px 30px 30px;
    background-color: #ffffff;
    color: #767676;
    font-size: 13px;

    .date {
        span {
            font-size: 20px;
            color: #000000;
        }
    }

    .travel-block {
        color: #b1b1b1;

        .travel-time {
            margin-bottom: 10px;
            text-align: center;
            max-width: 100px;
        }

        .pic-travel-time {
            border-bottom: 1px solid;
            width: auto;
            position: relative;
            margin-bottom: 20px;
            max-width: 100px;

            &:before {
                content: "";
                display: block;
                position: absolute;
                border: 1px solid;
                border-radius: 8px;
                top: -5px;
                left: 0;
                width: 10px;
                height: 10px;
                background-color: #ffffff;
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                border: 1px solid;
                border-radius: 8px;
                top: -5px;
                right: 0;
                width: 10px;
                height: 10px;
                background-color: #ffffff;
            }
        }
    }



    .train-block {
        padding-top: 5px;

        .train-name {
            font-size: 15px;
            margin-bottom: 3px;
            color: #000000;
        }
    }

    .tickets-block {
        .tickets-count {
            color: #000000;
            font-weight: 700;
            margin: auto 0;
        }

        .tickets-type {
            margin: auto 0;
        }

        .row {
            margin-bottom: 5px;

            &:last-of-type {
                margin-bottom:0;
            }
        }
    }
}

@media(max-width:991px) {
    .train-content {
        .train-block{
            margin-bottom:20px;
        }
        .tickets-block{
            margin-top:20px;
        }
    }
}