﻿.action-block {
  margin: auto;
  text-align: center;
}
.action-block a {
  color: #000000;
}
.action-block a:hover {
  text-decoration: none;
  color: #0275D8;
}
.action-block > a {
  margin-right: 17px;
}
.tooltip-copy {
  position: relative;
  display: inline-block;
  opacity: 1;
}
.tooltip-copy .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px 6px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -75px;
  transition: opacity 0.3s;
  opacity: 0;
}
.tooltip-copy .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip-copy:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.copy-text {
  margin-top: -4px;
  color: rgba(0, 0, 0, 0.5);
}
.copy-text:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.ticket-detail {
  margin-top: 20px;
}
.ticket-detail hr {
  margin: 40px 0;
  border-top: 1px solid #f1f2f3;
}
.ticket-detail .session-text {
  display: inline-block;
  color: #3498db;
  font-weight: 700;
}
.ticket-detail .train_scheme {
  width: 100%;
  overflow: auto;
}
.ticket-detail .train_scheme .car_scheme {
  position: relative;
  width: 942px;
  height: 152px;
  display: block;
}
.ticket-detail .train_scheme .car_number {
  float: left;
  height: 142px;
  overflow: hidden;
}
.ticket-detail .train_scheme .car_number {
  width: 48px;
  font-size: 16px;
  line-height: 142px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  background: url(/images/car-sprite.png) no-repeat -268px 0;
  padding-left: 6px;
}
.ticket-detail .train_scheme .stuard_block {
  float: left;
  height: 142px;
  overflow: hidden;
  width: 65px;
  background: url(/images/car-sprite.png) no-repeat -372px 0;
}
.ticket-detail .train_scheme .compartment {
  float: left;
  width: 71px;
  height: 150px;
  padding: 19px 2px;
  margin: 0 0 0 -1px;
  background: url(/images/compartment_bg.png) no-repeat 0 0;
}
.ticket-detail .train_scheme .one_sit {
  display: block;
  float: left;
  width: 25px;
  font-size: 10px;
  color: #FFF;
  text-align: center;
  background: #529be5;
}
.ticket-detail .train_scheme .occupied {
  background: #e9eaed;
  color: #bcbcbc;
}
.ticket-detail .train_scheme .tl,
.ticket-detail .train_scheme .bl,
.ticket-detail .train_scheme .tr,
.ticket-detail .train_scheme .br,
.ticket-detail .train_scheme .ml,
.ticket-detail .train_scheme .mr {
  position: absolute;
}
.ticket-detail .train_scheme .bl {
  bottom: 1px;
  left: 0;
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
}
.ticket-detail .train_scheme .tl {
  top: 0;
  left: 0;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
  border-bottom: 1px solid #e9eaed;
}
.ticket-detail .train_scheme .br {
  bottom: 1px;
  right: 0;
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
.ticket-detail .train_scheme .tr {
  top: 0;
  right: 0;
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  border-bottom: 1px solid #e9eaed;
}
.ticket-detail .train_scheme .double_row {
  position: relative;
  height: 62px;
  margin-bottom: 28px;
}
.ticket-detail .train_scheme .double_row .one_sit {
  height: 30px;
  line-height: 32px;
}
.ticket-detail .train_scheme .sits_block {
  float: left;
  height: 152px;
  cursor: default;
}
.ticket-detail .train_scheme .sits_block a {
  text-decoration: none;
}
.ticket-detail .train_scheme .simple_row {
  position: relative;
  height: 30px;
  overflow: hidden;
}
.ticket-detail .train_scheme .simple_row .top {
  background-position: 0 -66px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.ticket-detail .train_scheme .simple_row .bottom {
  background-position: 100% -17px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}
.ticket-detail .train_scheme .simple_row .one_sit {
  height: 22px;
  line-height: 22px;
}
.ticket-detail .train_scheme .simple_row .one_sit.top {
  float: left;
}
.ticket-detail .train_scheme .simple_row .one_sit.bottom {
  float: right;
}
.ticket-detail .train_scheme .wc_block {
  float: left;
  height: 142px;
  overflow: hidden;
  width: 51px;
  background: url(/images/car-sprite.png) no-repeat -321px 0;
}
.ticket-detail .train_scheme .wc_block.back {
  width: 47px;
  margin: 0 0 0 -1px;
  background: url(/images/car-sprite.png) no-repeat -437px 0;
}
.ticket-detail .train_scheme .tail {
  float: left;
  height: 142px;
  overflow: hidden;
  width: 52px;
  background: url(/images/car-sprite.png) no-repeat -484px 0;
}
.ticket-detail .train_scheme .second-class .car_number {
  height: 152px;
  background-position: 0 0;
  line-height: 152px;
}
.ticket-detail .train_scheme .second-class .stuard_block {
  height: 152px;
  background-position: -104px 0;
}
.ticket-detail .train_scheme .second-class .wc_block {
  height: 152px;
  background-position: -53px 0;
}
.ticket-detail .train_scheme .second-class .wc_block.back {
  height: 152px;
  background-position: -169px 0;
}
.ticket-detail .train_scheme .second-class .tail {
  height: 152px;
  background-position: -216px 0;
}
.ticket-detail .train_scheme .simple_row .bottom {
  background-position: 100% -17px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}
.ticket-detail .train_scheme .simple_row .top {
  background-position: 0 -66px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.ticket-detail .train_scheme .sleeping {
  width: 940px;
}
.ticket-detail .train_scheme .sleeping .compartment {
  height: 130px;
  background-position: 0 -152px;
}
.ticket-detail .train_scheme .sleeping .double_row {
  height: 66px;
}
.ticket-detail .train_scheme .sleeping .double_row.one_sit {
  height: 33px;
  line-height: 33px;
}
.ticket-detail .train_scheme .lux .double_row {
  height: 66px;
}
.ticket-detail .train_scheme .lux .double_row .one_sit {
  height: 66px;
  background-image: none;
  line-height: 66px;
}
.ticket-detail .train_scheme .lux .double_row .one_sit.left {
  float: left;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.ticket-detail .train_scheme .lux .double_row .one_sit.right {
  float: right;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.ticket-detail .train_scheme .lux .compartment {
  height: 150px;
  width: 64px;
  background: url(/images/compartment_bg2.png) no-repeat 0 0;
}
.ticket-detail .train_scheme .clear {
  height: 0;
  clear: both;
  display: block;
  line-height: 0;
}
@media (max-width: 767px) {
  .ticket-detail hr {
    margin: 20px 0;
  }
}