﻿.navbar.admin-nav {
  background-color: #f1f2f3 !important;
}
.main-container.user-main {
  background-color: #f1f1f1;
}
.footer-wrp {
  padding: 40px 0 10px;
  border-top: 1px solid grey;
}
.btn {
  border: none;
}
.btn.btn-big {
  height: 45px;
  font-weight: 700;
}
.btn.btn-small {
  height: 35px;
  font-size: 13px;
}
.btn.btn-blue {
  width: 100%;
  background-color: #3498db;
  color: #ffffff;
  border: none;
}
.btn.btn-blue:hover {
  background-color: #2980b9;
}
.form-control {
  height: 45px;
}
.form-control.user-control {
  border-radius: inherit;
  border: none;
}
.body-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
}
h4 {
  margin-top: 0;
}
.img-block img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.alert {
  margin-top: 15px;
}
.hidden {
  display: none;
}
.fade.in {
  opacity: 1;
}
button:focus,
a:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.min-w-205 {
  min-width: 205px;
}
#Notifications {
  min-height: 0;
  height: 0;
  overflow-y: hidden;
  -webkit-transition: min-height 0.5s ease-in-out;
  -moz-transition: min-height 0.5s ease-in-out;
  -o-transition: min-height 0.5s ease-in-out;
  transition: min-height 0.5s ease-in-out;
}
#Notifications.show {
  min-height: 80px;
}
.loader {
  position: relative;
  display: inline-block;
}
.loader.active:after {
  content: "";
  border: 4px solid #a9a9a9;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
}
.loader.active a,
.loader.active input {
  opacity: 0.25;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}