
﻿@using Microsoft.AspNetCore.Identity
@using UZ.Web.Models
@using UZ.DAL.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a asp-area="" asp-controller="Manage" asp-action="Index" class="nav-link">Привет, @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn navbar-link nav-link">Выйти</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Register" class="nav-link">Регистрация</a></li>
        <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Login" class="nav-link">Войти</a></li>
    </ul>
}
