﻿@model NotificationViewModel
<div class="alert alert-@(Model.Success ? "success" : "danger") alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>@Model.Title</strong> @Model.Description
</div>