﻿@using UZ.BLL.Models
@using UZ.Web.Models.SearchViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<WagonTypeDto> WagonTypes = ViewBag.WagonTypes;
    ViewData["Title"] = "Редактирование заявки";
}
@model AdvancedTrainSearchDTO
<link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />

<h1>@ViewData["Title"]</h1>
<div class="advanced-model-container">
    <form id="SaveSearchForm" class="advanced-model-form">
        <div class="hidden-block">
            <input asp-for="From" type="hidden" class="form-control" />
            <input asp-for="To" type="hidden" class="form-control" />
            <input asp-for="StationFrom" type="hidden" class="form-control" />
            <input asp-for="StationTo" type="hidden" class="form-control" />
            <input asp-for="Date" type="hidden" class="form-control" />
            <input asp-for="UserId" type="hidden" class="form-control" />
            <input asp-for="Id" type="hidden" id="searchId" class="form-control" />
            @for (int i = 0; i < Model.TrainsIds.Count; i++)
            {
                <input asp-for="TrainsIds[i]" type="hidden" class="form-control" />
            }
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Phone"></label>
                    <div class="phone-block">
                        <div class="code">+380</div><input asp-for="Phone" class="form-control" />
                    </div>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="form-group wagon-types">
                    <label asp-for="WagonTypes"></label>
                    <br />
                    @for (int i = 0; i < WagonTypes.Count; i++)
                    {
                        var type = WagonTypes[i];
                        <input type="checkbox" id="wagon-type[@i]" name="wagon-type[@i]"
                               value="@type.Id" data-title="@type.Title" @(Model.WagonTypes.Any(wg => wg.Id == type.Id) ? "checked=checked" : "") />
                        <label for="wagon-type[@i]">@type.Title</label>
                    }
                    <div class="text-danger types-error hidden">Выберите хотя бы один тип вагона</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="BottomOnly">
                            <input asp-for="BottomOnly" />
                            @Html.DisplayNameFor(m => m.BottomOnly)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Bedding">
                            <input asp-for="Bedding" />
                            @Html.DisplayNameFor(m => m.Bedding)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Active">
                            <input asp-for="Active" />
                            @Html.DisplayNameFor(m => m.Active)
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="loader">
            <input type="submit" class="btn btn-success" value="Сохранить" />            
        </div>
    </form>
    <div id="Notifications"></div>
</div>
@section Scripts {
    <script src="~/lib/jquery-maskedinput/jquery.inputmask.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/train-search.js" asp-append-version="true"></script>

    @await Html.PartialAsync("_ValidationScriptsPartial")
}
