﻿@using UZ.BLL.Models
@model TrainSearchDTO
@{
    ViewData["Title"] = "Поиск ЖД";
}

<link rel="stylesheet" href="~/lib/jquery-ui/css/jquery-ui.css" />

<h2>@ViewData["Title"]</h2>


<form method="get" asp-action="Search" asp-controller="Train">
    <h4>Поиск поездов</h4>
    <br />
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                @*<label for="StationFrom"></label>*@
                <input id="StationFrom" name="StationFrom" class="form-control" placeholder="Откуда" />
                <input asp-for="From" style="display:none;" class="form-control" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @*<label for="StationTo"></label>*@
                <input id="StationTo" name="StationTo" class="form-control" placeholder="Куда" />
                <input asp-for="To" style="display:none;" class="form-control" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                @*<label asp-for="Date"></label>*@
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2">
            <button type="submit" class="btn btn-default search">Найти</button>
        </div>
    </div>           
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="~/js/stations.js"></script>
}

