﻿@using UZ.BLL.Models
@using UZ.Web.Models.SearchViewModels
@using UZ.Enums
@using UZ.BLL.Utils
@model SearchResultViewModel
@{
    ViewData["Title"] = "Поиск поездов - Результаты";
    List<WagonTypeDto> WagonTypes = ViewBag.WagonTypes;
}
@section Styles {
    <link rel="stylesheet" href="~/css/trains/trains.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />
}
<h2>Результаты поиска</h2>
@*@if (Model.Trains.Count == 0 || !Model.Trains.Any(train => train.Types.Count > 0))
    {
        <p>По заданному Вами направлению мест нет.</p>
        <p>Вы можете оставить заявку на получение уведомления о наличие билетов на данные маршрут и дату.</p>
        <form id="SaveSearchForm">
            <input asp-for="Search.From" name="From" type="hidden" class="form-control" />
            <input asp-for="Search.To" name="To" type="hidden" class="form-control" />
            <input asp-for="Search.StationFrom" name="StationFrom" type="hidden" class="form-control" />
            <input asp-for="Search.StationTo" name="StationTo" type="hidden" class="form-control" />
            <input asp-for="Search.Date" name="Date" type="hidden" class="form-control" />
            <input asp-for="Search.UserId" name="UserId" type="hidden" class="form-control" />
            <input type="submit" value="Оставить заявку" />
        </form>
        <div id="SaveSearchResult"></div>
    }
    else
    {*@
@foreach (TrainSearchData train in Model.Trains)
{
    <div class="train-content">
        <div class="row">
            <div class="col-xl-3 col-lg-2 col-sm-12">
                <div class="train-block">
                    <div class="train-name">Поезд @train.Num</div>
                    <div class="train-way">@train.From.StationTrain - @train.To.StationTrain</div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-5 col-4">
                <div class="date"><span>@train.From.Time</span> @train.From.Date</div>
                <div>@train.From.Station</div>
            </div>
            <div class="col-sm-2 col-4 m-auto">
                <div class="travel-block">
                    <div class="travel-time">@train.TravelTime</div>
                    <div class="pic-travel-time"></div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-5 col-4">
                <div class="date"><span>@train.To.Time</span> @train.To.Date</div>
                <div>@train.To.Station</div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-12 m-auto">
                <div class="tickets-block">
                    @if (train.Types.Count > 0)
                    {
                        foreach (var type in train.Types)
                        {
                            <div class="row">
                                <div class="col-4 tickets-type">@type.Title</div>
                                <div class="col-3 tickets-count"> @type.Places</div>
                                <div class="col-5"> <a class="btn btn-default btn-small btn-blue" href="@UrlUtils.GetTrainWagonsUrl(Model.Search, train.Num, type.Letter)" target="_blank">Перейти</a></div>
                            </div>

                        }
                    }
                    else
                    {
                        <span>Нет</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <br />
}
@*}*@
@if (Model.Trains == null || Model.Trains.Count == 0)
{
    <h4>На @Model.Search.Date.ToString("dd.MM.yyyy") по заданному Вами направлению мест нет.</h4>
}
else
{
    <div class="advanced-search-container">
        <div class="advanced-search-header">
            <h3>Не нашли подходящий билет? Доверьте поиск нам!</h3>
            <p>Мы сообщим вам, как только билет появится.</p>
            <a href="#" id="open-advanced-search" class="btn btn-warning">Запрос на поиск билетов</a>
        </div>
        <div class="advanced-search-block">
            <form id="SaveSearchForm" class="advanced-search-form">
                <input asp-for="Search.From" type="hidden" class="form-control" />
                <input asp-for="Search.To" type="hidden" class="form-control" />
                <input asp-for="Search.StationFrom" type="hidden" class="form-control" />
                <input asp-for="Search.StationTo" type="hidden" class="form-control" />
                <input asp-for="Search.Date" type="hidden" class="form-control" />
                <input asp-for="Search.UserId" type="hidden" class="form-control" />
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group checked-trains">
                            @for (int i = 0; i < Model.Trains.Count; i++)
                {
                    var train = Model.Trains[i];
                    <input type="checkbox" id="Search.TrainsIds[@i]" name="Search.TrainsIds[]"
                           value="@train.Num" />
                    <label for="Search.TrainsIds[@i]">@train.Num @train.From.StationTrain - @train.To.StationTrain</label>
                    <br />
    }
                            <span class="text-danger trains-error hidden">Выберите хотя бы один поезд</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="Search.FirstName"></label>
                            <input asp-for="Search.FirstName" class="form-control" />
                            <span asp-validation-for="Search.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="Search.LastName"></label>
                            <input asp-for="Search.LastName" class="form-control" />
                            <span asp-validation-for="Search.LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="Search.Email"></label>
                            <input asp-for="Search.Email" class="form-control" />
                            <span asp-validation-for="Search.Email" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                    <label asp-for="Search.TrainPriority">Выбор времени отправления<br><small>Если места появятся одновременно в нескольких поездах, какое время вам более подойдет?</small></label>
                    <select asp-for="Search.TrainPriority" asp-items="Html.GetEnumSelectList<TrainPriority>()"></select>
                    <span asp-validation-for="Search.TrainPriority" class="text-danger"></span>
                </div>*@
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label asp-for="Search.Phone"></label>
                            <div class="phone-block">
                                <div class="code">+380</div><input asp-for="Search.Phone" class="form-control" />
                            </div>
                            <span asp-validation-for="Search.Phone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-group wagon-types">
                            <label asp-for="Search.WagonTypes"></label>
                            <br />
                            @for (int i = 0; i < WagonTypes.Count; i++)
                {
                    var type = WagonTypes[i];
                    <input type="checkbox" id="wagon-type[@i]" name="wagon-type[@i]"
                           value="@type.Id" data-title="@type.Title" />
                    @*<input type="hidden" name="Search.WagonTypes[@i].Title" value="@type.Title" />*@
                    <label for="wagon-type[@i]">@type.Title</label>
    }
                            <div class="text-danger types-error hidden">Выберите хотя бы один тип вагона</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Search.BottomOnly">
                                    <input asp-for="Search.BottomOnly" />
                                    @Html.DisplayNameFor(m => m.Search.BottomOnly)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Search.Bedding">
                                    <input asp-for="Search.Bedding" />
                                    @Html.DisplayNameFor(m => m.Search.Bedding)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loader">
                    <input type="submit" class="btn btn-success" value="Оставить заявку" />
                </div>
            </form>
            <div id="Notifications"></div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/lib/jquery-maskedinput/jquery.inputmask.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/train-search.js" asp-append-version="true"></script>
    <script>
        var formDataKeyName = "Search"
    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
