﻿@using UZ.BLL.Models
@model List<TrainSearchDTO>
@{
    ViewData["Title"] = "User Searches";
}

<h2>Searches</h2>
@if (Model.Count == 0)
{
    <p>У вас нет активных поисков маршрутов.</p>

}
else
{
    foreach (TrainSearchDTO search in Model)
    {
        <div class="user-search" data-search-id="@search.Id">
            <p>Откуда: @search.StationFrom</p>
            <p>Куда: @search.StationTo</p>
            <p>Дата: @search.Date.ToString("dd-MM-yyyy")</p>
            <label asp-for="@search.Active"></label>
            <input asp-for="@search.Active" id="Search_@search.Id" name="Search_@search.Id" />
        </div>
        <br />
        <br />
    }
}

@section Scripts {
    <script src="~/js/searches.js"></script>
}


